body {
    height: 100%;
    margin: 0;
  }
  
.bg {
    /* The image used */
   
    /* Full height */
    height: 100%; 
    width:99vw;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.name{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: #fff;
}
